services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 80:80
    
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 7000:7000