services:    
  frontend:
    container_name: thebench_frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 8080:80
  backend:
    container_name: thebench_backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 7000:7000